# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Editors
.idea/
.vscode/

# Local data / artifacts
data/local/
artifacts/
models/
*.duckdb
*.parquet
*.feather
